---
import MainLayout from '@/layouts/MainLayout.astro'
---


<MainLayout>
    <div class="w-full h-full px-4 my-5">
 <div class="w-full h-fit border rounded-md flex flex-col shadow-sm md:max-w-xs">
    <img src="/zo.jpg">
    <h3 class="text-lg ">suren krut</h3>
    <a href="#" class="bg-blue-500 rounded-lg text-white p-3"> подробнее </a>


</div>
</div>
</MainLayout>
