---
import MainLayout from '@/layouts/MainLayout.astro'
---
<MainLayout>

<div
    class="relative isolate overflow-hidden bg-gray-900 pb-16 pt-14 sm:pb-20 w-5/1 ml-auto"
>
    
    <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true"
    >
        <div
            class="relative left-[calc(50%-5.5rem)] aspect-[1155/678] w-[18.0625rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-15rem)] sm:w-[36.09375rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="text-center">
                <h1
                    class="text-4xl font-bold tracking-tight text-white sm:text-6xl"
                >
                    СИЛ БЬЮТИ
                </h1>
                <p class="mt-6 text-lg leading-8 text-gray-300">
                    СЕТЬ САЛОНОВ КРАСОТЫ ПО ВСЕЙ МОСКВЕ
                </p>
            </div>
        </div>
    </div>
    <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true"
    >
        <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
    </div>
</div>
<head>
    <title>Лучшая сеть салонов красоты в Москве - СИЛ БЬЮТИ | sil-beauty.ru</title>
</head>
<style> .sidebar {
    width: 20%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #f0f0f0;
}

.content {
    width: 75%;
    margin-left: 5%;
}
</style>

</MainLayout>