---
import MainLayout from '@/layouts/MainLayout.astro'
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZO Skin Health BY ZEIN OBAGI</title>
    <style>
      
    </style>
</head>
<body>
    <MainLayout>

    <div class="px-8 py-8">
        <h1>ZO Skin Health BY ZEIN OBAGI</h1>
        <img src="/zo.jpg" alt="ZO Skin Health BY ZEIN OBAGI">
        <p class="px-8 py-8">Рады представить Вам профессиональную линию косметики ZO Skin Health от американского профессора Зейна Обаджи.
        Позиция доктора Обаджи — кожа должна работать сама, а хорошее увлажнение и питание — это дополнительная терапия. Никто до сих пор не предлагал идею, что кожа должна работать сама по себе.
      В составе косметики ZO Skin Health входят ацетилглюкозамин, альфа арбутин, пероксид, витамины C, пептиды. Концентрация активных веществ в 10 раз выше, чем в косметике масс-маркета.
       После процедуры вы останетесь, если это необходимо, мастера предложат вам продукты ZO Skin Health для поддержания состояния кожи дома.</p>
        <a href="#" class=" p-2 bg-black rounded-lg text-white  "> Записаться онлайн </a>
    </div>
</div>
</body>

</MainLayout>